*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.nav-links{
    padding-left: 20px;
}

nav .nav-heading{
    font-size: 1.6rem;
    color: hsl(0, 0%, 8%);
}

.nav-links ul{
    display: flex;
    list-style: none;
    gap: 80px;
}

.nav-links ul li a{
    text-decoration: none;
    color: hsl(0, 0%, 41%);
}

.navbar .nav-buttons{
   margin-right: 30px;
}

.login-link{
    padding-right: 15px;
    text-decoration: none;
    color: hsl(0, 0%, 41%);
}

.reg-button{
    cursor: pointer;
    height: 40px;
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

/* toggle button in navbar */
.toggle-button {
    position: absolute;
    top: 0.5rem;
    margin-top: 15px;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    display: none;
  }
  
  .toggle-button .toggle-bar {
    background-color: black;
    width: 100%;
    height: 3px;
    border-radius: 10px;
  }
  
  .heading-center{
    text-align: center;
  }

  .dropdown{
    position: relative;
  }

  .dropdown .dropbtn{
    cursor: pointer;
  }

  .dropdown-content{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    text-align: left;
    display: none;
    border: 1px solid hsl(0, 0%, 98%);
    width: 100%;
    border-radius: 10px;
    background-color: hsl(0, 0%, 98%);
    position: absolute;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dropdown .dropbtn{
    color: hsl(0, 0%, 41%);
  }

  .dropdown-content .drop-content-link{
    display: flex;
    align-items: center;
    color: black;
    list-style: none;
    text-decoration: none;
    padding: 10px 0px;
  }

  .drop-content-link .icon-svg{
    margin-right: 6px;
  }


/* navbar responsive */
@media (max-width:1200px){
    .toggle-button {
        display: flex;
        cursor: pointer;
      }
    
      .nav-li{
        align-items: center;
        display: none;
      }

      .nav-buttons{
        display: none;
        text-align: center;
      }
    
      .navbar {
        flex-direction: column;
      }
    
      .nav-links ul {
        width: 100%;
        flex-direction: column;
        gap: 10px;
      }
    
      .nav-links ul li {
        padding: 1rem;
        text-align: center;
      }
    
      .nav-li.active{
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .nav-buttons{
        margin-left: 100px;
      }

      .nav-buttons.active{
        display: block;
      }
    
      .heading-center {
        text-align: center;
        margin-top: 10px;
      }

      .dropbtn{
        display: none;
      }

      .dropbtn.active{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
        padding-top: 20px;
      }

      .dropdown-content{
        width: 100px;
        margin: 10px auto;
        position: relative;
      }

      .dropdown-content .drop-content-link{
        display: flex;
        align-items: center;
        color: black;
        list-style: none;
        text-decoration: none;
        padding: 10px 0px;
      }
}


.home-div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
}

.hero-image{
  height: 680px;
  margin-left: 120px;
  margin-top: 10px;
}

.main-heading{
  margin-top: 150px;
  margin-left: 170px;
  font-size: 5.5rem;
  font-weight: bold;
}

.para{
  margin-left: 170px;
  margin-top: 40px;
  color: hsl(0, 0%, 41%);
  font-size: 1.1rem;
  line-height: 1.5;
}

.btn{
  width: 150px;
  height: 50px;
  border: 1px solid black;
  background-color: black;
  color: white;
  border-radius: 10px;
  margin-left: 165px;
  margin-top: 50px;
  font-size: 1rem;
  cursor: pointer;
}

.logos{
  display: flex;
  gap: 35px;
  margin-top: 90px;
  margin-left: 150px;
}

@media (max-width: 1000px){

  html,
  body {
    overflow-x: hidden;
  }

  body {
    position: relative;
  }

  .home-div{
    grid-template-columns: 1fr;
    place-items: center;
    margin-top: -20px;

  }

  .hero-image{
    margin-left: 0px;
    width: 100%;
  }

  .text-content{
    order: 3;
    margin-left: -180px;
    text-align: center;
  }

  .main-heading{
    font-size: 2rem;
  }

  .para{
    line-height: 1.2;

  }

  .logos{
    justify-content: center;
    gap: 0px;
  }




}